# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [1]:
# Your code here
import sqlite3
import pandas as pd

con = sqlite3.connect('lego.db')
cur = con.cursor()

In [5]:
cur.execute("""SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;""")
df = pd.DataFrame(cur.fetchall())
df.head(20)

                 0
0  product_details
1     product_info
2  product_pricing
3  product_reviews

In [9]:
dfProductdelails = pd.read_sql_query('''SELECT * FROM product_details;''', con)
dfProductinfo = pd.read_sql_query('''SELECT * FROM product_info;''', con)
dfProductpricing = pd.read_sql_query('''SELECT * FROM product_pricing;''', con)
dfProductreviews = pd.read_sql_query('''SELECT * FROM product_reviews;''', con)
print(dfProductdelails.head(2))
print(dfProductinfo.head(2))
print(dfProductpricing.head(2))
print(dfProductreviews.head(2))

   prod_id prod_desc prod_long_desc theme_name
0      630      blah       blahblah    Classic
1     2304      blah       blahblah     DUPLO®
   prod_id  ages  piece_count                      set_name
0      630    4+            1               Brick Separator
1     2304  1½-5            1  LEGO® DUPLO® Green Baseplate
   prod_id country list_price
0    75823      US      29.99
1    75822      US      19.99
   prod_id  num_reviews  play_star_rating review_difficulty  star_rating  \
0      630        180.0               4.0         Very Easy          4.8
1     2304         15.0               4.4              Easy          4.0

   val_star_rating
0              4.6
1              3.3

In [17]:
merged = pd.merge(dfProductdelails, dfProductinfo)
merged2 = pd.merge(merged, dfProductpricing)
merged3 = pd.merge(merged2, dfProductreviews)
merged3.head()

,prod_id,prod_desc,prod_long_desc,theme_name,ages,piece_count,set_name,country,list_price,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,630,blah,blahblah,Classic,4+,1,Brick Separator,US,2.49,180.0,4.0,Very Easy,4.8,4.6
1,630,blah,blahblah,Classic,4+,1,Brick Separator,AU,2.2724,180.0,4.0,Very Easy,4.8,4.6
2,630,blah,blahblah,Classic,4+,1,Brick Separator,AT,3.0378000000000003,180.0,4.0,Very Easy,4.8,4.6
3,630,blah,blahblah,Classic,4+,1,Brick Separator,BE,3.0378000000000003,180.0,4.0,Very Easy,4.8,4.6
4,630,blah,blahblah,Classic,4+,1,Brick Separator,CA,2.3322000000000003,180.0,4.0,Very Easy,4.8,4.6

In [18]:
merged3.to_csv('Lego_data_merged.csv', index=False)

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!